<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sam.lifelogger.squeezehooks">

    <application
        android:label="Squeeze Bridge"
        android:hasCode="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposeddescription"
            android:value="Hooks Elmyra squeeze gestures to relay them to Lifelogger" />

    </application>
</manifest>